*{
    margin:0px;
    padding:0px;
}

#nav-bar{
    position:sticky;
    top:0;
    z-index:10;
}

.navbar{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding:0 !important;
    
}

.navbar-brand img{
    height:40px;
    padding-left:20px;
}

.navbar-nav li{
    padding: 0 20px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 720;
}

.fa-bars{
    color:#fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/*-----------------------------------------------  Banner Section -------------------------------------------------*/

#banner{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color:#fff;
    padding-top: 5%;
    width:100%;
    height:640px;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.para{
    margin-bottom: 40px;
    font-family:cursive;
}

.join{
    border:1px solid darkorange;
    padding:20px;
    color: white;
    background-color: darkorange;
    text-decoration-line: none;
}

.join:hover{
    color:white;
    text-decoration-line: none;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    border:none;
}

/* --------------------------------------------------- Services area ------------------------------------------*/

.services{
    margin-top:-100px;
    margin-bottom: 50px;
}

.services .single-services{
    display:flex;
    box-shadow:0px 25px 60px rgba(66,85,164,0.06);
    padding:29px 24px;
    border-radius:20px;
    background:#fff;
    margin-bottom:12px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .services .single-services{
        padding:18px 14px;
    }
}
@media (max-width: 575px){
    .services .single-services{
        padding:18px 14px;
    }
}
.services .single-services .features-icon{
    position:relative;
    top:8px;
}
.services .single-services .features-icon i{
    display:block;
}
.services .single-services .features-caption{
    padding-left:19px
}
.services .single-services .features-caption h3{
    font-size:20px;
    line-height:1.2;
    margin-bottom:10px;
    font-weight:700;
}
.services .single-services .features-caption p{
    font-size:17px;
    line-height:1.8;
    color:#4255A4;
    margin-bottom:0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .services .single-services .features-caption p{
        font-size:15px;
    }
}
@media (max-width: 575px){
    .services .single-services .features-caption p{
        font-size:15px;
    }
}


/* --------------------------------------------------- Learn Skills ------------------------------------------- */ 

.learn-skills .support-wrapper{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.skills-icon{
 background-image: linear-gradient(to right,#a517ba,#5f1782);
}

.skills-icon i{
    color: white;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills .support-wrapper{
        display:block;
    }
}

.learn-skills .support-wrapper .left-content1{
    width:49%;
    padding-left:366px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .learn-skills .support-wrapper .left-content1{
        width:45%;
        padding-left:100px;
    }
}
@media only screen and (min-width: 1601px) and (max-width: 1800px){
    .learn-skills .support-wrapper .left-content1{
        width:42%;
        padding-left:120px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px){
    .learn-skills .support-wrapper .left-content1{
        padding-left:30px;
        width:48%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px){
    .learn-skills .support-wrapper .left-content1{
        padding-left:100px;
        width:49%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills .support-wrapper .left-content1{
        width:67%;
        padding-left:120px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-skills .support-wrapper .left-content1{
        width:82%;
        padding-left:30px;
        padding-left:50px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .learn-skills .support-wrapper .left-content1{
        width:100%;
        padding-left:30px;
    }
}
@media (max-width: 575px){.learn-skills .support-wrapper .left-content1{
    width:100%;
    padding-left:30px;
    }
}

.learn-skills .support-wrapper .left-content1 .skills-icon{
    width:80px;
    height:80px;
    border-radius:50px;
    display:inline-block;
    position:relative;
    margin-bottom:31px;
    line-height:80px;
    text-align:center;
    box-shadow:0px 15px 25px rgba(66,85,164,0.08);
}
.skill-head{
    font-size:40px;
    margin-bottom: 30px;
}

.learn-skills .support-wrapper .left-content1 .single-features{
    display:flex;
}
.learn-skills .support-wrapper .left-content1 .single-features .features-icon{
    position:relative;
    top:8px;
}
.learn-skills .support-wrapper .left-content1 .single-features .features-icon i{
    display:block;
    color:darkorange;
}
.learn-skills .support-wrapper .left-content1 .single-features .features-caption{
    padding-left:19px;
}
.learn-skills .support-wrapper .left-content1 .single-features .features-caption p{
    font-size:25px;
    line-height:1.2;
    margin-bottom:16px;
    font-weight:400;
}
.learn-skills .support-wrapper .left-content1 .single-features .features-caption p{
    font-size:16px;
    line-height:1.8;
    color:#4255A4;
}

.right-content1{
    width:40%;
    margin-right:100px;
    position:relative;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .learn-skills .support-wrapper .right-content1{
        width:46%;
        margin-right:50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills .support-wrapper .right-content1{
        width:78%;
        margin-left:119px;
        padding-top:50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-skills .support-wrapper .right-content1{
        width:80%;
        padding-top:50px;
        margin-right:50px;
        padding-left:50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-sills .support-wrapper .right-content1{
        width:100%;
        padding-top:50px;
        margin-right:30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .learn-skills .support-wrapper .right-content1{
        width:100%;
        padding-top:50px;
        padding-left:30px;
        margin-right:30px;
    }
}

@media (max-width: 575px){
    .learn-skills .support-wrapper .right-content1{
        width:100%;
        padding-top:50px;
        padding-left:20px;
        margin-right:20px;
    }
}

.learn-skills .support-wrapper{
    display:flex;
    justify-content:start;
    flex-wrap:wrap;
}

/*---------------------------------------------------------Explore Subjects Area -------------------------------------------*/ 

.explore-subj .single-topic{
    position:relative;
    margin-top:40px;
}
.explore-subj .single-topic::before{
    position:absolute;
    top:0;left:0;right:0;
    height:100%;
    width:100%;
    content:"";
    background-color:rgba(66,85,164,0.7);
    opacity:0;
    z-index:1;
    -webkit-transition:.4s;
    -moz-transition:.4s;
    -o-transition:.4s;
    transition:.4s;
    border-radius:12px;
}
.explore-subj .single-topic:hover::before{
    opacity:1;
    visibility:visible;
}
.explore-subj .single-topic .topic-img{
    border-radius:12px;
}
.explore-subj .single-topic .topic-img img{
    width:100%;
}
.explore-subj .single-topic .topic-content-box{
    position:absolute;
    top:50%;left:0;right:0;
    margin:0 auto;
    transform:translateY(-50%);
    height:100%;
    width:100%;
    transition:.4s;
    z-index:2;
}
.explore-subj .single-topic .topic-content-box .topic-content{
    position:absolute;
    top:53%;
    transform:translateY(-47%);
    left:0;right:0;
    text-align:center;
}

.explore-subj .single-topic .topic-content-box .topic-content h3 a{
    color:#ffffff;
    font-weight:700;
    font-size:20px;
    margin-bottom:0px;
    text-transform:uppercase;
    text-decoration:underline #fff transparent;
    -webkit-transition:.4s;
    -moz-transition:.4s;
    -o-transition:.4s;
    transition:.4s;
}
.explore-subj .single-topic .topic-content-box .topic-content h3 a:hover{
    text-decoration:underline;
}
.explore-subj .single-topic .topic-content-box .topic-content p{
    font-size:16px;
    color:#ffff;
    padding:0 82px;
    line-height:1.6;
}
@media (max-width: 575px){
    .explore-subj .single-topic .topic-content-box .topic-content p{
        padding:0 18px;
    }
}

.moreSubj{
    margin-top:60px;
}

.border-btn{
    border:1px solid orange;
    padding:20px;
    
}

.section-tittle a{
    text-decoration-line: none; 
    color:darkorange;
}

.section-tittle a:hover{
    background-color: darkorange;
    color:white;
    text-decoration-line: none;
}

/* ---------------------------------------------------- Learn-skills2 --------------------------------------------------*/

.learn-skills2{
    margin-top: 100px;
}


.learn-skills2 .support-wrapper{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.skills-icon{
 background-image: linear-gradient(to right,#a517ba,#5f1782);
}

.skills-icon i{
    color: white;
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills2 .support-wrapper{
        display:block;
    }
}
.learn-skills2 .support-wrapper .left-content3{
    width:49%;
    padding-left:366px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .learn-skills2 .support-wrapper .left-content3{
        width:45%;
        padding-left:100px;
    }
}
@media only screen and (min-width: 1601px) and (max-width: 1800px){
    .learn-skills2 .support-wrapper .left-content3{
        width:42%;
        padding-left:120px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px){
    .learn-skills2 .support-wrapper .left-content3{
        padding-left:30px;
        width:48%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px){
    .learn-skills2 .support-wrapper .left-content3{
        padding-left:100px;
        width:49%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills2 .support-wrapper .left-content3{
        width:67%;
        padding-left:120px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-skills2 .support-wrapper .left-content3{
        width:82%;
        padding-left:30px;
        padding-left:50px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .learn-skills2 .support-wrapper .left-content3{
        width:100%;
        padding-left:30px;
    }
}
@media (max-width: 575px){.learn-skills2 .support-wrapper .left-content3{
    width:100%;
    padding-left:30px
    }
}
.skill-head{
    font-size:40px;
    
}

.learn-skills2 .support-wrapper .left-content3 .single-features{
    display:flex
}
.learn-skills2 .support-wrapper .left-content3 .single-features .features-icon{
    position:relative;
    top:8px;
}
.learn-skills2 .support-wrapper .left-content3 .single-features .features-icon i{
    display:block;
    color:darkorange;
}
.learn-skills2 .support-wrapper .left-content3 .single-features .features-caption{
    padding-left:19px;
}

.learn-skills2 .support-wrapper .left-content3 .single-features .features-caption p{
    font-size:16px;
    line-height:1.8;
    color:#4255A4;
}

.right-content1{
    width:40%;
    margin-right:100px;
    position:relative;
}

/* ------------------------------------------------- Footer area ------------------------------------------------------*/

.footer-area{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    margin-top:40px;
    padding-top: 40px;

}
.footer-area .footer-pera p{
    color:#fff;
    padding-right:52px;
    font-size:16px;
    margin-bottom:50px;
    line-height:1.8;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .footer-area .footer-pera p{
        padding-right:0px;
    }
}

.footer-area .footer-pera.footer-pera2 p{
    padding:0;
}

.footer-area .footer-tittle h4{
    color:#fff;
    font-size:22px;
    margin-bottom:29px;
    font-weight:600;
}

.footer-area .footer-tittle ul li{
    margin-bottom:15px;
    list-style: none;
    margin-bottom:20px;
}
.footer-area .footer-tittle ul li a{
    color:#fff;
    font-weight:400;
    font-size:16px;
    text-decoration:underline transparent;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}

.footer-area .footer-tittle ul li a:hover{
    color:#fff;
    text-decoration:underline;
}

.footer-social a{
    background:rgba(128,136,255,0.1);
    color:#fff;
    width:40px;
    height:40px;
    border-radius:50%;
    font-size:14px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin-right:8px;
}

.footer-social a:hover{
    color:#fff;
    background:#C86FFF;
}
.footer-social a i{
    display:inline-block;
}

/* -----------------------------------------------------------learn-skills3 ---------------------------------------------*/

.learn-skills3 .support-wrapper{
    display:flex;
    justify-content:start;
    flex-wrap:wrap;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills3 .support-wrapper{
        display:block;
    }
}

.learn-skills3 .support-wrapper .left-content2{
    width:28%;
    padding-left:60px;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px){
    .learn-skills3 .support-wrapper .left-content2{
        width:46%;
        padding-left:60px;
    }
}

@media (min-width: 1401px) and (max-width: 1600px){
    .learn-skills3 .support-wrapper .left-content2{
        width:35%;
        padding-left:60px;
    }
}
@media only screen and (min-width: 1601px) and (max-width: 1800px){
    .learn-skills3 .support-wrapper .left-content2{
        width:40%;
        padding-left:60px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills3 .support-wrapper .left-content2{
        width:60%;
        padding-left:60px;
        padding-right:60px;
        padding-top:50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-skills3 .support-wrapper .left-content2{
        width:82%;
        padding-left:50px;
        padding-right:60px;
        padding-top:50px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .learn-skills3 .support-wrapper .left-content2{
        width:100%;
        padding-left:30px;
        padding-right:60px;
        padding-top:50px;
    }
}

@media (max-width: 575px){
    .learn-skills3 .support-wrapper .left-content2{
        width:100%;
        padding-left:30px;
        padding-right:60px;
        padding-top:50px;
    }
}

.learn-skills3 .support-wrapper .right-content2{
    width:40%;
    margin-left:100px;
    position:relative;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .learn-skills3 .support-wrapper .right-content2{
        width:46%;
        margin-left:50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills3 .support-wrapper .right-content2{
        width:78%;
        margin-left:119px;
        padding-top:50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-skills3 .support-wrapper .right-content2{
        width:80%;
        padding-top:50px;
        margin-left:50px;
        margin-right:50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-skills3 .support-wrapper .right-content2{
        width:100%;
        padding-top:50px;
        margin-left:30px;
        margin-right:30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .learn-skills3 .support-wrapper .right-content2{
        width:100%;
        padding-top:50px;
        margin-left:30px;
        margin-right:30px;
    }
}

@media (max-width: 575px){
    .learn-skills3 .support-wrapper .right-content2{
        width:100%;
        padding-top:50px;
        margin-left:20px;
        margin-right:20px;
    }
}

.learn-skills3 .support-wrapper .right-content2 .right-img img{
    width:90%;
}

.learn-skills3 .support-wrapper{
    display:flex;
    justify-content:start;
    flex-wrap:wrap;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills3 .support-wrapper{
        display:block;
    }
}

.learn-skills3 .support-wrapper .left-content2{
    width:28%;
    padding-left:60px;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px){
    .learn-skills3 .support-wrapper .left-content2{
        width:46%;
        padding-left:60px;
    }
}

@media (min-width: 1401px) and (max-width: 1600px){
    .learn-skills3 .support-wrapper .left-content2{
        width:35%;
        padding-left:60px;
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px){
    .learn-skills3 .support-wrapper .left-content2{
        width:40%;
        padding-left:60px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills3 .support-wrapper .left-content2{
        width:60%;
        padding-left:60px;
        padding-right:60px;
        padding-top:50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-skills3 .support-wrapper .left-content2{
        width:82%;
        padding-left:50px;
        padding-right:60px;
        padding-top:50px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .learn-skills3 .support-wrapper .left-content2{
        width:100%;
        padding-left:30px;
        padding-right:60px;
        padding-top:50px;
    }
}

@media (max-width: 575px){
    .learn-skills3 .support-wrapper .left-content2{
        width:100%;
        padding-left:30px;
        padding-right:60px;
        padding-top:50px;
    }
}

.learn-skills3 .support-wrapper .right-content2{
    width:40%;
    margin-left:100px;
    position:relative;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .learn-skills3 .support-wrapper .right-content2{
        width:46%;
        margin-left:50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .learn-skills3 .support-wrapper .right-content2{
        width:78%;
        margin-left:119px;
        padding-top:50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-skills3 .support-wrapper .right-content2{
        width:80%;
        padding-top:50px;
        margin-left:50px;
        margin-right:50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .learn-skills3 .support-wrapper .right-content2{
        width:100%;
        padding-top:50px;
        margin-left:30px;
        margin-right:30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .learn-skills3 .support-wrapper .right-content2{
        width:100%;
        padding-top:50px;
        margin-left:30px;
        margin-right:30px;
    }
}

@media (max-width: 575px){
    .learn-skills3 .support-wrapper .right-content2{
        width:100%;
        padding-top:50px;
        margin-left:20px;
        margin-right:20px;
    }
}

.learn-skills3 .support-wrapper .right-content2 .right-img img{
    width:90%;
}



/* -------------------------------------------------------- about area ------------------------------------------------------------*/

.slider-height2{
    min-height:854px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .slider-height2{
        min-height:900px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .slider-height2{
        min-height:650px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .slider-height2{
        min-height:650px;
    }
}
@media (max-width: 575px){
    .slider-height2{
        min-height:600px;
    }
}
.slider-height2{
    min-height:250px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .slider-height2{
        min-height:320px;
    }
}

@media (max-width: 575px){
    .slider-height2{
        min-height:320px;
    }
}

 .slider-area2{
    background-image:url();
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}

.slider-area2 .hero__caption2{
    overflow:hidden;
}

.slider-area2 .hero__caption2 span{
    color:#31ff7a;
    font-size:60px;
    line-height:1.2;
    font-weight:400;
    margin-bottom:30px;
    display:block;
}

.slider-area2 .hero__caption2 h1{
    margin-top:-50px;
    font-size:60px;
    font-weight:700;
    color:#fff;
    line-height:1.3;
    margin-bottom:22px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .slider-area2 .hero__caption2 h1{
        font-size:60px;
        line-height:1.2;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .slider-area2 .hero__caption2 h1{
        font-size:50px;
        line-height:1.2;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .slider-area2 .hero__caption2 h1{
        font-size:38px;
        line-height:1.2;
        margin-bottom:20px;
    }
}
@media (max-width: 575px){
    .slider-area2 .hero__caption2 h1{
        font-size:28px;
        line-height:1.2;
        margin-bottom:20px;
    }
}

.slider-area2 .hero__caption2 p{
    color:#fff;
    font-size:18px;
    margin-bottom:34px;
}
@media (max-width: 575px){
    .slider-area2 .hero__caption2 p{
        font-size:16px;
        padding:0 0px;
    }
}

.slider-area2 .hero__caption2{
    padding-top:218px;
}
@media (max-width: 575px){
    .slider-area2 .hero__caption.hero__caption2{
        padding-top:184px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .slider-area2 .hero__caption.hero__caption2{
        padding-top:184px;
    }
}

.breadcrumb{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
     border:none;
     width:50%;
}
.breadcrumb a{
    color:white;
}




